.bg-purple {
  background-color: #673AB7;
}

.btn-purple {
  background-color: rgba(124,77,225,1);
}

.gradient-purple {
  background: rgb(81,45,168);
  background: linear-gradient(20deg, rgba(81,45,168,1) 28%, rgba(124,77,225,1) 71%)
}
